<template>
<div class="overview">
    <div class="flex items-center sub-header px-2">
        <div class="w-1/5 border-r border-black px-2">
            <div v-if="!processing" class="mx-auto w-full relative">
                <i class="fas fa-search mx-2 text-grey-darker absolute center-v pin-l"></i>
                <input type="text" name="filter-meters" v-model.trim="term" @keyup="filterMeters" placeholder="Filter serial number" class="input-filter outline-none" />
            </div>
        </div>
        <div class="w-4/5 items-center flex px-2">
            <div class="flex justify-end w-3/5 tracking-wide">
                <BtnAction @click.native="mapDisplay3D()">3D View<i class="ml-2 text-blue-light fa-lg fas fa-cube"></i></BtnAction>
                <BtnAction @click.native="mapDrawLine()">Draw Line<i class="ml-2 text-blue-light fa-lg fas fa-route"></i></BtnAction>
                <BtnAction @click.native="mapExport()">Export<i class="ml-2 text-blue-light fa-lg fas fa-file-export"></i></BtnAction>
            </div>
            <div class="w-2/5 text-right">
                <small>+2.00 UTC</small>
            </div>
        </div>
    </div>
    <div :class="['flex', modal ? 'modal-open' : '']">
        <div class="w-1/5 shadow-lg bg-white relative z-50">
            <div class="mx-auto w-full">
                <transition name="fadeIn" mode="out-in">
                    <ListLoader class="p-4" v-if="processing" />
                </transition>
                <simplebar class="h-full-6" data-simplebar-auto-hide="false" data-simplebar-force-visible="true">
                    <transition name="fadeOut" mode="out-in">
                        <div v-if="!processing" class="relative">
                            <div class="mx-auto w-full px-4 py-3 bg-grey-lighter border-b">
                                <small class="text-blue-darker font-light">Showing <span class="text-blue-dark">{{ metersCopy.length }}</span> result(s)</small>
                            </div>
                            <div v-for="(row, index) in metersCopy" :key="row.serialNo" class="pl-2 pr-4 border-b border-grey-light">
                                <MeterBox @meter-details="getMeterDetails" :meterInfo="row" />
                            </div>
                        </div>
                    </transition>
                </simplebar>
            </div>
        </div>
        
        <div class="mx-auto w-1/5 absolute side-modal">
            <transition name="fadeOut" mode="in-out">
            <div v-if="modal" class="relative bg-grey-lighter h-full-6">
                <button @click="closeModal" class="flex flex-col bg-grey-lighter hover:text-black items-center absolute z-50 pin-r pin-t m-3 text-center text-grey-darker">
                    <i class="far fa-times-circle fa-2x"></i>
                    <span class="text-xs">ESC</span>
                </button>
                <MeterDetails :fetching="fetching" />
            </div>
            </transition>
        </div>
        
        <div class="h-full-6 w-4/5 bg-white relative">
            <Mapbox :markers="meters" @meter-details="getMeterDetails"/>
        </div>
    </div>
    
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import moment from 'moment'
import Simplebar from 'simplebar-vue'
import 'simplebar/dist/simplebar.min.css'
import { EventBus } from '@/event-bus.js'
import Mapbox from '@/components/Mapbox.vue'
import ListLoader from '@/components/ListLoader.vue'
import MeterDetails from '@/components/MeterDetails.vue'
import MeterBox from '@/components/MeterBox.vue'
import BtnAction from '@/components/BtnAction.vue'
import debounce from 'lodash/debounce'

export default {
    name: 'overview',
    created() {
        window.addEventListener('keydown', this.esc)
        this.getMeters()
    },
    watch: {
        '$route': 'getMeters'
    },
    data() {
        return {
            term: '',
            fetching: false,
            modal: false,
            metersCopy: []
        }
    },
    methods: {
        getMeters() {
            this.$store.dispatch('getMeters')
            .then(
                records => {
                    this.term = ''
                    this.metersCopy = [...records]
                }
            ).catch(
                err => {
                    console.log(err)
                }
            )
        },
        getMeterDetails({ serialNo, key, long, lat }) {

            this.fetching = true
            this.modal = true
            this.$store.dispatch('getReadOut', { serialNo, key })
            .then(
                record => {
                    this.fetching = false
                    EventBus.$emit('viewMeter', { serialNo, key, long, lat })
                }
            ).catch(
                err => {
                    this.fetching = false
                    console.log(err)
                }
            )
        },
        mapDisplay3D() {
            EventBus.$emit('display3D')
        },
        mapDrawLine() {
            EventBus.$emit('drawLine')
        },
        mapExport() {
            
        },
        closeModal() {
            this.modal = false
        },
        esc(e) {
            if(e.keyCode == 27) {
                e.preventDefault()
                this.closeModal()
            }
        },
        filterMeters: debounce(function () {
            this.metersCopy = this.meters.filter(row => {
                return row.serialNo.toString().indexOf(this.term) > -1
            })
        }, 200, {leading: true})
    },
    computed: {
        ...mapGetters({
            processing: 'processing',
            meters: 'meters'
        })
    },
    components: {
        Mapbox,
        ListLoader,
        MeterDetails,
        MeterBox,
        Simplebar,
        BtnAction,
    }
}
</script>
<style>
    .sub-header {
        background: #313139;
        box-shadow: 0 1px 0 0 rgba(255,255,255,.03) inset;
        -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.03) inset;
        -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.03) inset;
        line-height: 3.25rem;
        height: 3.25rem;
        color: rgba(255,255,255,.3975);
    }
    .h-full-6 {
        height: calc(100vh - 6rem);
    }
    .center-v {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .center-h {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .side-modal {
        left: 18%;
        z-index: -99;
    }
    .modal-open .side-modal {
        left: 19.5%;
        z-index: 40;
    }
    .input-filter {
        display: block;
        width: 100%;
        line-height: 2rem;
        line-height: calc(2rem - 2px);
        padding: 0 1rem 0 2rem;
        border-radius: 2px;
        border: none;
        -webkit-transition: box-shadow .1s,background-color .1s;
        transition: box-shadow .1s,background-color .1s;
        background: #44444b;
        color: #c8c8c7;
        box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
        -webkit-box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
        -moz-box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
        font-size: .8rem;
    }
    .input-filter:focus {
        background: #47474a;
    }
    .border-grey-dark {
        border-right: 1px solid #dcdcdd;
    }
    
</style>