<template>
    <button :class="['btn hover:bg-blue-dark rounded text-xs tracking-wide text-white font-bold py-2 px-4 mx-4', processing ? 'process disabled': '']" type="button"><slot></slot><span v-show="processing" class="icon-spinner9"></span></button>
</template>

<script>

export default {
    props: {
    	processing: Boolean
    }
}
</script>

<style scoped>
    .btn {
        background: #44444b;
        box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
        -webkit-box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
        -moz-box-shadow: 0 0 0 1px rgba(10,10,20,.26), 0 1px 1px 0 rgba(10,10,20,.06), 0 1px 0 0 rgba(255,255,255,.01) inset, 0 0 0 1px rgba(255,255,255,.02) inset;
    }
    .btn.process {
        padding-right: 40px;
        position: relative;
    }
    .btn .icon-spinner9 {
        font-size: 14px;
        top: 14px;
        right: 14px;
    }
    .btn_extra_large .icon-spinner9 {
        font-size: 15px;
        top: 20px;
    }
    .input-group-btn .icon-spinner9 {
        font-size: 22px;
        top: 11px;
        right: 10px;
    }
    .btn_small .icon-spinner9{
        top: 11px;
    }
    .small-button .icon-spinner9 {
        font-size: 12px;
        top: 10px;
        right: 14px;
    }
</style>
