<style>
#list-loader {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}
#list-loader span.load-search {
    display: block;
    border-radius: 1rem;
    width: 100%;
    height: 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    background-color: #dadcdf;
}
#list-loader > div > span {
    display: block;
    border-radius: 1rem;
    width: 100%;
    height: 3.5rem;
    border-radius: .2rem;
    background-color: #f5f5f5;
}
</style>

<template>
<div id="list-loader">
    <span class="load-search"></span>
    <div v-for="n in 8" class="border-b mb-3">
        <span></span>
    </div>
</div>
</template>

<script>

export default {

}
</script>