<template>
	<div class="map_wrapper">
		<transition name="movefade" mode="out-in">
	        <div class="text-center absolute z-50 center-h pin-t bg-white w-full h-full fa-3x text-blue-dark" v-if="markers.length === 0 || loading">
	        	<div class="center-v2 center-h absolute">
	        		<i class="fas fa-circle-notch fa-spin fa-2x "></i>
	        	</div>
	        </div>
	    </transition>
	    <div id="mapbox"></div>
	</div>
</template>

<script>
	import { EventBus } from '@/event-bus.js'
	import { mapGetters } from 'vuex'
	import Mapboxgl from "mapbox-gl"

	export default {
		name: 'Mapbox',
		created() {
			EventBus.$on('viewMeter', (meter) => {
				this.flyTo(meter)
	        })

			EventBus.$on('display3D', () => {
				this.display3D()
	        })

	        EventBus.$on('drawLine', () => {
				this.drawLine()
	        })
		},
		mounted() {
			Mapboxgl.accessToken = this.accessToken

			this.map = new Mapboxgl.Map({
				container: this.mapContainer,
				style: this.mapStyle,
				zoom: this.mapZoom,
				center: this.mapCenter,
			})

			this.map.on('load', () => {
				this.map.loadImage("/img/icons8-marker-32.png", (error, image) => {
					if (error) throw error

					this.map.addImage("custom-marker", image)

					this.map.addLayer({
						id: 'meters',
						type: 'symbol',
						source: {
							type: 'geojson',
							data: this.dataStore
						},
						"layout": {
							"icon-image": "custom-marker",
							"icon-allow-overlap": false
						}
					})
				})

				this.map.jumpTo({
					zoom: this.mapZoom,
					center: this.mapCenter
				})

				this.loading = false

			})

			this.map.on('click', 'meters', (e) => {
				this.map.stop()

				const serialNo = e.features[0].properties.serialNo
				const key = e.features[0].properties.key
				const long = e.features[0].properties.long
				const lat = e.features[0].properties.lat

				this.$emit('meter-details', { serialNo, key, long, lat })
			})

			this.map.on('mouseenter', 'meters', () => {
				this.map.getCanvas().style.cursor = 'pointer'
			});

			this.map.on('mouseleave', 'meters', () => {
				this.map.getCanvas().style.cursor = ''
			});

			this.map.addControl(new Mapboxgl.NavigationControl())

		},
		data() {
			return {
				map: {},
				mapContainer: 'mapbox',
				mapZoom: 15,
				offset: [0, -20],
				loading: true
			}
		},
		methods: {
			flyTo(meter) {
				this.map.flyTo({
					center: [meter.lat, meter.long],
					zoom: 18,
					speed: 1.4
				})

				const popUps = document.getElementsByClassName('mapboxgl-popup')
				if (popUps[0]) popUps[0].remove()

				const popup = new Mapboxgl.Popup({ closeOnClick: true, offset: this.offset })
				.setLngLat([meter.lat, meter.long])
				.setHTML(`<div class="text-center"><h4>Serial Number</h4><h3>${meter.serialNo}</h3></div>`)
				.addTo(this.map)
			},
			display3D() {
				const layers = this.map.getStyle().layers
				let labelLayerId

				for (let i = 0; i < layers.length; i++) {
					if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
						labelLayerId = layers[i].id;
						break;
					}
				}

				const mapLayer = this.map.getLayer('3d-buildings')

				if(typeof mapLayer !== 'undefined') {
					this.map.removeLayer('3d-buildings').removeSource('3d-buildings');
					return
				}

				this.map.addLayer({
					'id': '3d-buildings',
					'source': 'composite',
					'source-layer': 'building',
					'filter': ['==', 'extrude', 'true'],
					'type': 'fill-extrusion',
					'minzoom': 15,
					'paint': {
					'fill-extrusion-color': '#aaa',
					'fill-extrusion-height': [
						"interpolate", ["linear"], ["zoom"],
						15, 0,
						15.05, ["get", "height"]
					],
					'fill-extrusion-base': [
						"interpolate", ["linear"], ["zoom"],
						15, 0,
						15.05, ["get", "min_height"]
					],
					'fill-extrusion-opacity': .6
					}
				}, labelLayerId)
			},
			drawLine() {
				const mapLayer = this.map.getLayer('route')

				if(typeof mapLayer !== 'undefined') {
					this.map.removeLayer('route').removeSource('route');
					return
				}

				const coordinates = this.markers.map(meter => {
					return [meter.lat, meter.long]
				})
				
				this.map.addLayer({
					"id": "route",
					"type": "line",
					"source": {
						"type": "geojson",
						"data": {
							"type": "Feature",
							"properties": {},
							"geometry": {
								"type": "LineString",
								"coordinates": coordinates.splice(0, 10),
							}
						}
					},
					"layout": {
						"line-join": "round",
						"line-cap": "round"
					},
					"paint": {
						"line-color": "#888",
						"line-width": 8
					}
				})
			},
		},
		computed: {
			mapCenter() {
				return this.markers.length > 0 ? [this.markers[0].lat, this.markers[0].long] : [40, 40]
			},
			...mapGetters({
	            accessToken: 'accessToken',
	            mapStyle: 'mapStyle',
	            dataStore: 'dataStore',
	        })
		},
		props: {
			markers: Array
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
	#mapbox { position:absolute; top:0; bottom:0; width:100%; }
	.mapboxgl-marker { cursor: pointer; }
	.center-v2 {
		top: 30%;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }
	.mapboxgl-popup-close-button {
		display: none;
	}

	.mapboxgl-popup-content {
		padding: 0;
	}

	.mapboxgl-popup-content-wrapper {
		padding: 1%;
	}

	.mapboxgl-popup-content h4 {
		background: #3490dc;
		color: #fff;
		margin: 0;
		display: block;
		padding: 6px;
		border-radius: 3px 3px 0 0;
		font-weight: 400;
		margin-top: -15px;
	}

	.mapboxgl-popup-content h3 {
		margin: 0;
		display: block;
		padding: 10px;
		font-weight: 400;
	}

	.mapboxgl-popup-content div {
		
	}

	.mapboxgl-container .leaflet-marker-icon {
		cursor: pointer;
	}

	.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
		margin-top: 15px;
	}

	.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
		border-bottom-color: #91c949;
	}
</style>
