<template>
<div class="relative">
	<transition name="fadeIn" mode="out-in">
		<div v-if="fetching" class="absolute z-40 mt-1-2 ml-3 pin-l pin-t text-blue-dark">
			<i class="fas fa-circle-notch fa-spin fa-lg"></i>
		</div>
	</transition>
	<simplebar class="h-full-6" data-simplebar-auto-hide="false" data-simplebar-force-visible="true">
		<div v-if="Object.keys(mapMeter).length > 0" class="relative px-4">
			<div class="pl-6 pr-10 py-4 text-xxs">
				<div class="font-bold text-black text-base mb-4">Serial No. {{ mapMeter.seriaNo }}</div>
				<div class="flex mb-2">
					<div class="bg-white mr-2 shadow rounded p-2 flex flex-col items-center">
						<span class="mb-1">State</span>
						<span class="text-black">{{ mapMeter.state }}</span>
					</div>
					<div class="bg-white mr-2 shadow rounded p-2 flex flex-col items-center">
						<span class="mb-1">Remark</span>
						<span class="text-black">{{ mapMeter.remark }}</span>
					</div>
				</div>
				<div class="bg-white mb-4 shadow rounded p-2 flex items-center justify-between">
					<span>Battery Level:</span>
					<span class="text-black">{{ mapMeter.batteryLevel }}%</span>
					<span v-html="batterySvg"></span>
				</div>
				<h3 class="mb-2 text-black text-sm">Meter</h3>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span>Manufacturer:</span>
					<span class="text-black">{{ mapMeter.meterManufacturer }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span>Version:</span>
					<span class="text-black">{{ mapMeter.meterVersion }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span>TypeGeneration:</span>
					<span class="text-black">{{ mapMeter.meterTypeGeneration }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span>Name:</span>
					<span class="text-black">{{ mapMeter.meterName }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span>Size:</span>
					<span class="text-black">{{ mapMeter.meterSize }}</span>
				</div>
				<div class="flex justify-between my-2">
					<div class="bg-white p-2 flex flex-col rounded items-center">
						<span class="mb-1">Q1</span>
						<span class="text-black">{{ mapMeter.meterQ1 }}</span>
					</div>
					<div class="bg-white p-2 flex flex-col rounded items-center">
						<span class="mb-1">Q3</span>
						<span class="text-black">{{ mapMeter.meterQ3 }}</span>
					</div>
					<div class="bg-white p-2 flex flex-col rounded items-center">
						<span class="mb-1">Q5</span>
						<span class="text-black">{{ mapMeter.meterQ5 }}</span>
					</div>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span class="">RValue:</span>
					<span class="text-black">{{ mapMeter.meterRValue }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span class="">Length:</span>
					<span class="text-black">{{ mapMeter.meterLength }}</span>
				</div>
				<div class="bg-white border-b border-grey-light p-2 flex justify-between items-center">
					<span class="">ErrorCode:</span>
					<span class="text-black">{{ mapMeter.meterErrorCode }}</span>
				</div>
				<hr class="mb-4">
				<h3 class="mb-2 text-black text-sm">Obis Codes</h3>
				
				<div class="flex flex-col mb-2">
					<div v-for="(code, key) in mapMeter.obisCodes" :key=key class="bg-white leading-normal border-b border-grey-light p-2 flex justify-between items-center">
						<span class="mb-1 p-1">{{ toTitle(code.description) }}</span>
						<span class="text-black p-1 text-right">{{ code.value }} {{ code.unit }}</span>
					</div>
				</div>
				<div class="bg-white mb-2 border-b border-grey-light p-2 flex flex-col items-start">
					<span class="mb-1">Timestamp:</span>
					<span class="text-black">{{ mapMeter.obisCodes[Object.keys(mapMeter.obisCodes)[0]].timestamp }}</span>
				</div>
				<hr class="border-b border-grey">
				<div class="mb-1 p-2 flex flex-col items-start">
					<span class="mb-1">Started:</span>
					<span class="text-black">{{ mapMeter.started }}</span>
				</div>
				<div class="mb-1 p-2 flex flex-col items-start">
					<span class="mb-1">Last ReadOut:</span>
					<span class="text-black">{{ mapMeter.lastReadOut }}</span>
				</div>
			</div>
		</div>
	</simplebar>
</div>
</template>

<script>
import { mapGetters } from 'vuex'
import Simplebar from 'simplebar-vue'
import 'simplebar/dist/simplebar.min.css'

export default {
	name: 'meter-details',
	components: {
        Simplebar
    },
    methods: {
    	toTitle(v) {
    		return v.toLowerCase()
		    .split(' ')
		    .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
		    .join(' ')
    	}
    },
    computed: {
    	batterySvg() {
    		const battery0 = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="28" viewBox="0 0 36 28">
				<title>battery-0</title>
				<path fill="red" d="M34 9c1.109 0 2 0.891 2 2v6c0 1.109-0.891 2-2 2v2.5c0 1.375-1.125 2.5-2.5 2.5h-29c-1.375 0-2.5-1.125-2.5-2.5v-15c0-1.375 1.125-2.5 2.5-2.5h29c1.375 0 2.5 1.125 2.5 2.5v2.5zM34 17v-6h-2v-4.5c0-0.281-0.219-0.5-0.5-0.5h-29c-0.281 0-0.5 0.219-0.5 0.5v15c0 0.281 0.219 0.5 0.5 0.5h29c0.281 0 0.5-0.219 0.5-0.5v-4.5h2z"></path>
				</svg>`
    		const battery1 = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="28" viewBox="0 0 36 28">
				<title>battery-1</title>
				<path fill="red" d="M4 20v-12h8v12h-8zM34 9c1.109 0 2 0.891 2 2v6c0 1.109-0.891 2-2 2v2.5c0 1.375-1.125 2.5-2.5 2.5h-29c-1.375 0-2.5-1.125-2.5-2.5v-15c0-1.375 1.125-2.5 2.5-2.5h29c1.375 0 2.5 1.125 2.5 2.5v2.5zM34 17v-6h-2v-4.5c0-0.281-0.219-0.5-0.5-0.5h-29c-0.281 0-0.5 0.219-0.5 0.5v15c0 0.281 0.219 0.5 0.5 0.5h29c0.281 0 0.5-0.219 0.5-0.5v-4.5h2z"></path>
				</svg>`
			const battery2 = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="28" viewBox="0 0 36 28">
				<title>battery-2</title>
				<path d="M4 20v-12h14v12h-14zM34 9c1.109 0 2 0.891 2 2v6c0 1.109-0.891 2-2 2v2.5c0 1.375-1.125 2.5-2.5 2.5h-29c-1.375 0-2.5-1.125-2.5-2.5v-15c0-1.375 1.125-2.5 2.5-2.5h29c1.375 0 2.5 1.125 2.5 2.5v2.5zM34 17v-6h-2v-4.5c0-0.281-0.219-0.5-0.5-0.5h-29c-0.281 0-0.5 0.219-0.5 0.5v15c0 0.281 0.219 0.5 0.5 0.5h29c0.281 0 0.5-0.219 0.5-0.5v-4.5h2z"></path>
				</svg>`
			const battery3 = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="28" viewBox="0 0 36 28">
				<title>battery-3</title>
				<path fill="green" d="M4 20v-12h20v12h-20zM34 9c1.109 0 2 0.891 2 2v6c0 1.109-0.891 2-2 2v2.5c0 1.375-1.125 2.5-2.5 2.5h-29c-1.375 0-2.5-1.125-2.5-2.5v-15c0-1.375 1.125-2.5 2.5-2.5h29c1.375 0 2.5 1.125 2.5 2.5v2.5zM34 17v-6h-2v-4.5c0-0.281-0.219-0.5-0.5-0.5h-29c-0.281 0-0.5 0.219-0.5 0.5v15c0 0.281 0.219 0.5 0.5 0.5h29c0.281 0 0.5-0.219 0.5-0.5v-4.5h2z"></path>
				</svg>`
			const battery = `<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="36" height="28" viewBox="0 0 36 28">
				<title>battery</title>
				<path fill="green" d="M30 8v12h-26v-12h26zM32 17h2v-6h-2v-4.5c0-0.281-0.219-0.5-0.5-0.5h-29c-0.281 0-0.5 0.219-0.5 0.5v15c0 0.281 0.219 0.5 0.5 0.5h29c0.281 0 0.5-0.219 0.5-0.5v-4.5zM36 11v6c0 1.109-0.891 2-2 2v2.5c0 1.375-1.125 2.5-2.5 2.5h-29c-1.375 0-2.5-1.125-2.5-2.5v-15c0-1.375 1.125-2.5 2.5-2.5h29c1.375 0 2.5 1.125 2.5 2.5v2.5c1.109 0 2 0.891 2 2z"></path>
				</svg>`

			if(this.mapMeter.batteryLevel < 5) {
				return battery0
			}
			if(this.mapMeter.batteryLevel < 40) {
				return battery1
			}
			if(this.mapMeter.batteryLevel < 75) {
				return battery2
			}
			if(this.mapMeter.batteryLevel < 90) {
				return battery3
			}
			if(this.mapMeter.batteryLevel >= 90) {
				return battery
			}
			
    	},
    	...mapGetters({
            mapMeter: 'mapMeter',
        })
    },
	props: {
		fetching: Boolean
	}
}
</script>

<style scoped>
	.mt-1-2 {
		margin-top: .975rem;
	}
	.text-xxs {
		font-size: .775rem;
		color: #969a9d;
	}
	#side-scroller {
        overflow-y: scroll;
	}
</style>