<template>
	<div class="flex items-center">
		<a :class="['px-3 py-4 flex flex-col items-start justify-between w-full bg-white rounded meter-box', selected ? 'selected' : '']" @click="getMeterDetails" href="#">
			<div class="flex pt-1">
				<span class="block text-sm text-grey-dark opacity-75 mb-2">Serial No.</span>
				<span class="tracking-wide mx-2 meter-serial text-black">{{ meterInfo.serialNo }}</span>
			</div>
			<div class="flex justify-between w-full items-center text-grey">
				<span class="text-xs">
					<span class="meter-point">
						<svg aria-hidden="true" focusable="false" data-prefix="fas" width="14" height="14" data-icon="map-marker-alt" class="svg-inline--fa fa-map-marker-alt fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"></path></svg>
					</span>
					<span class="mx-1 meter-coords">
						{{ meterInfo.long.substring(0, 7) }} - {{ meterInfo.lat.substring(0, 7) }}
					</span>
				</span>
				<span class="text-grey-light meter-arrow">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 348 412"><path fill="#001ebc" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg>
				</span>
			</div>	
		</a>
	</div>
</template>

<script>
	import debounce from 'lodash/debounce'
	import { mapGetters } from 'vuex'

	export default {
		name: 'meter-box',
		methods: {
			getMeterDetails: debounce(
				function () {
					this.$emit('meter-details', this.meterInfo)
		        }, 100, {leading: true}
	        ),
		},
		computed: {
			selected() {
				return this.mapMeter.seriaNo === this.meterInfo.serialNo
			},
			...mapGetters({
	            mapMeter: 'mapMeter',
	        })
		},
		props: {
			meterInfo: Object,
		}
	}
</script>


<style scoped>
	a {
		transition: .1s color;
		text-decoration: none;
	}
	.meter-check {
		opacity: .5;
	}
	.meter-point {
		transition: .2s color;
	}
	.meter-arrow {
		opacity: 0.1;
		transition: .1s all;
		-ms-transform: translate(-5px, -13px);
		-webkit-transform: translate(-5px, -13px);
		transform: translate(-5px, -13px);
	}
	a:hover .meter-serial, a:hover .meter-point, a.selected .meter-serial {
		color: #001ebc;
	}
	a.selected .meter-point, a.selected .meter-coords {
		color: #3d4852;
	}
	a:hover .meter-arrow, a.selected .meter-arrow {
		opacity: 1;
		-ms-transform: translate(0px, -13px);
		-webkit-transform: translate(0px, -13px);
		transform: translate(0px, -13px);
	}
</style>