<template>
  <div id="app">
    <app-header></app-header>
    <router-view/>
  </div>
</template>

<script>
import AppHeader from './layout/AppHeader.vue'

export default {
    name: 'gwf',
    components: {
        AppHeader,
    }
}
</script>
