<template>
<header class="header">
    <div class="w-full h-full relative z-10 flex items-center mx-auto px-2 py-4">
        <div class="w-3/5 flex items-center justify-start">
            <div class="flex items-stretch content-center justify-start px-2">
                <div class="text-lg text-blue inline-flex items-center justify-start">
                    {{ logo }}<span class="text-xs text-white font-bold ml-1">maps</span>
                </div>
            </div>
            <span class="row-seperator mx-4"></span>
            <div id="nav" class="flex flex-row items-stretch justify-between px-2">
                <router-link to="/meters">
                    <i class="fas fa-th-large mr-2"></i>Overview
                </router-link>
                <router-link to="/timeline">
                    <i class="fas fa-chart-line mr-2"></i>Timeline
                </router-link>
                <router-link to="/statistics">
                    <i class="fas fa-chart-pie mr-2"></i>Statistics
                </router-link>
            </div>
        </div>
        <div class="w-2/5 justify-end">
            <div class="flex flex-row items-stretch justify-end px-2">
                <div class="nav actions text-sm">
                  <span class="text-xs mr-2">
                    Welcome<span class="text-white mx-2">admin@gwf-labs.gr</span>
                  </span>
                  <router-link to="/profile"><i class="fas fa-lg fa-user-circle"></i></router-link>
                  <router-link to="/settings"><i class="fas fa-lg fa-cog"></i></router-link>
                  <router-link to="/logout"><i class="fas fa-lg fa-sign-out-alt"></i></router-link>
                </div>
            </div>
        </div>

        
    </div>
</header>
</template>

<script>
import { EventBus } from '@/event-bus.js'
import { mapState } from 'vuex'

export default {
    mounted() {

    },
    data() {
        return {
          logo: 'GWF',
          expanded: false,
          expanded_btn: [],
          nav_show: false,
        }
    },
    methods: {
        
    }
}
</script>
<style scoped>
  .header {
    background-color: #212129;
    box-shadow: 0 -1px 0 0 rgba(0,0,0,.15) inset;
    -webkit-box-shadow: 0 -1px 0 0 rgba(0,0,0,.15) inset;
    -moz-box-shadow: 0 -1px 0 0 rgba(0,0,0,.15) inset;
    height: 2.75rem;
    line-height: 2.75rem;
  }
  .nav {
    color: #b7b7b7;
  }
  a {
    color: rgba(255,255,255,.3975);
    text-decoration: none;
    font-size: .825rem;
    padding: .8rem 0;
    margin: 0 2rem 0 0;
    transition: .2s all;
  }
  a:hover {
    color: #fff;
  }
  a.router-link-active {
    color: rgba(255,255,255,.8875);
  }
  .nav.actions a {
    margin: 0 0 0 1.5rem;
  }
    
</style>